<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <title>Search</title>

  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/coming-sssoon.css" rel="stylesheet" />

  <style>
    .compare_position_bt{
      height: 100px;
      width: 100px;
      padding: 0px;
      border: none;
      margin: 30%;
      margin-top:3%;
      margin-bottom: 3%;
      
    }
    .menu_left_top{
      float:left;
    }
    .compare_side_pu{
      display: none;
      float:left;
      
    }
    .compare_side_tt{
    
      float:left;
      
    }
    .compare_pro_bt{
      height: 100px;
      width: 100px;
      padding: 0px;
      border: none;
      margin: 10%;
      margin-top:16%;
      margin-bottom: 15%;
      background-color:rgb(23, 21, 35);
    }
    

  </style>
  <!--     Fonts     -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

  

</head>

<body>
  <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <button type="submit" class="btn btn-danger btn-fill" onClick="location.href='./index.html'"><a class="p-2 text-muted" href="index.html">메인 로고</a></button>
        <ul class="nav navbar-nav navbar-right">
          <div class="row">

            <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">

              <form class="form-inline" role="form" style="width: 470px;">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                  <input type="name" class="form-control transparent" placeholder="소환사 명 검색">

                </div>
                <button type="submit" class="btn btn-danger btn-fill" onClick="location.href='./search.html'"><a class="p-2 text-muted" href="search.html">전적 검색</a></button>
                <button type="submit" class="btn btn-danger btn-fill" onClick="location.href='./hitmap.html'"><a class="p-2 text-muted" href="hitmap.html">히트맵 검색</a></button>

              </form>


            </div>
          </div>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->

  </nav>

  <div class="main" style="background-image: url('images/default1.jpg')">
    
    
    <div class="menu_left_top" style="vertical-align: top; display:inline-block;margin-top: 10%;margin-left: 20%;height: 300;">
      <div class="compare_bt" style="margin-left:2%; margin-bottom:3%;">
        <button class="btn btn-danger btn-fill" id="ht_object" style="background-color: #6f6ec0;
        border-color: rgb(128, 119, 165);">오브젝트</button>
        <button type="submit" class="btn btn-danger btn-fill" id="ht_tower"style="background-color: #6f6ec0;
        border-color: rgb(128, 119, 165);">포탑</button>
        <button type="submit" class="btn btn-danger btn-fill" id="ht_fight"style="background-color: #6f6ec0;
        border-color: rgb(128, 119, 165);">교전</button>
      </div>
      
      <div class="compare" style="height: 600px;width: 900px; background-color:rgba(23, 21, 35, 0.685);border:1px solid rgb(26, 110, 116);">
        <div style="margin: 20%;">
          <a class="testa" style="color: white; font-size:50px">data</a>
          <img src="images/hit_map_test2.jpg">
        </div>
      </div>

      
        
      
      
      
    </div>
    <div class="menu_right_top" style="vertical-align: top; display:inline-block;margin-top: 10%;margin-left:10px;height: 300;">
      <div class="compare" style="height: 667px;width: 400px; background-color:rgba(23, 21, 35, 0.685);border:1px solid rgb(26, 110, 116);">
        <div style="margin: 10px;">
          <h class="test" style="color: white; font-size:35px">jng hitmap</a>
        </div>
        <div>
          <img src="images/hit_map_test.jpg" style="margin-top:100px;width: 100%;">
        </div>
      </div>
      
    </div>

    <div class="footer">
      <div class="container">
        Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free
        download <a href="http://www.creative-tim.com/product/coming-sssoon-page">here.</a>
      </div>
    </div>
  </div>
  
  
</body>
<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script>
  $(function(){
    $('#ht_object').click(function(){
      $('.testa').text("obejct");
      
    });
  });
  $(function(){
    $('#ht_tower').click(function(){
      $('.testa').text("tower");
      
    });
  });
  $(function(){
    $('#ht_fight').click(function(){
      $('.testa').text("fight");
      
    });
  });
  </script>
</html>